# --- Compilats i executables ---
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.pdb
*.exp

# --- Carpetes temporals ---
/build/
/bin/
/obj/
/Debug/
/Release/

# --- Entorns i eines ---
.vscode/
.idea/
*.log

# --- MinGW i SFML ---
/mingw64/
/SFML/
/SFML/lib/
/SFML/bin/
/SFML/build/
/SFML/CMakeFiles/
/SFML/*.sln
/SFML/*.vcxproj*
/SFML/*.cmake
/SFML/*.bat
/SFML/*.dll

# --- Altres ---
*.zip
*.7z
*.tmp
